
	#container
	{
	}
	
	#content
	{
		background-color: Silver;
	}
	#contact h2
	{
		margin: 4px;
		color: White;
	}
	#contact h3
	{
		margin: 2px;
		color: White;
	}
		
	.wbox
	{
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;	
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: white;
		boder: thin solid Black;
		margin-top: 4px;
		padding-left: 8px;
	}
	
	#nav .wbox h1
	{
		font-size: medium;
		margin: 8px;
	}
	
	.center
	{
		text-align: center;
	}
	
	.prepend-line
	{
		padding-top: 1em;
	}
	
	.white_text
{
    text-decoration: none;
    color: white;
}

.bkbg, blackbg
{
    background-color: Black;
}

.wtbg, whitebg
{
    background-color: White;
}

.redbg
{
    background-color: #EF3E33;
}

.svrbg
{
    background-color: Silver;
}

.graybg
{
	background-color: Gray;
}

.pad-4
{
    padding: 4px;
}

.pad-8
{
    padding: 8px;
}

.pad-10
{
    padding: 10px;
}

.padleft-4
{
	padding-left: 4px;
}

.padleft-8
{
	padding-left: 8px;
}
.padleft-10
{
	padding-left: 10px;
}

.padline-4
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.padline-8
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.margin-line-8
{
	margin-top: 8px;
	margin-bottom: 8px;
}

.padline-10
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightdevide
{
    border-right: solid thin Silver;
    margin-right: 4px !important;
    padding-right: 5px !important;
}

.border_bottom_white
{
    border-bottom: solid thin White;
}

.border_white
{
    border: solid thin White;
}
.border_silver
{
    border: solid thin Silver;
}

.center
{
        text-align: center;
        vertical-align: middle;
}

.pointer
{
	cursor: pointer;
}

/*************************************************  LIST ********/
ul.hz_list
{
    float: left; /* LTR */
    padding: 0;
    margin: 0; /* LTR */
}

ul.hz_list  li
{
    display: inline;
    float: left; /* LTR */
    font-size: 1.0em;
    line-height: 1em;
    list-style-type: none;
    margin: 0; /* LTR */
    padding: 0;
}

ul.vrt_list
{
    padding: 0;
    margin: 0; /* LTR */
}

ul.vrt_list li
{
    line-height: 1em;
    list-style-type: none;
}

/*************************************************  TAGS ********/
h6
{
        font-family: sans-serif;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        font-size: 1.0em;
        line-height: 1.0em;
        padding: 2px;
        text-align: center;
}

h4
{
        font-family: sans-serif;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        font-size: 22pt;
        padding: 15px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
}

.big
{
	font-size: 	large;
}

table 
{
    table-layout: fixed
}